
<div class="md-content">

    <section class="content-details">

        <div class="carousel-element owl-carousel content-details-slider" data-options='{"items":1,"loop":true,"dots":false,"nav":false,"autoplay":true,"animateOut":"fadeOut","margin":0}'>
            <div><img src="{{ url('start') }}public/img/backgrounds/bg-header01.jpg" alt=""></div>
            <div><img src="{{ url('start') }}public/img/backgrounds/bg-header02.jpg" alt=""></div>
            <div><img src="{{ url('start') }}public/img/backgrounds/bg-header03.jpg" alt=""></div>
        </div>

        <div class="container">
            <div class="content-details-main">

                <div class="social-links social-links-style-02">
                    <nav class="social-links-navSocial">
                        <a class="social-links-item" href="mailto:biuro@autosolid.eu"><i class="fa fa-envelope"></i></a>
                        <a class="social-links-item" href="#"><i class="fa fa-facebook"></i></a>
                        <a class="social-links-item" href="#"><i class="fa fa-twitter"></i></a>
                    </nav>
                </div>

                <div class="row">
                    <div class="col-lg-10 col-xl-8 offset-0 offset-sm-0 offset-md-0 offset-lg-1 offset-xl-2">
                        <div class="content-details-content">
                            <div class="row">
                                <div class="col-xl-11 offset-0 offset-sm-0 offset-md-0 offset-lg-0 offset-xl-1">
                                    <h1>Poznaj naszą firmę</h1>
                                    <p class="text">
                                        Jesteśmy małą firmą rodzinną istniejącą na rynku od 1996r. Zrzeszamy zespół utalentowanych ludzi  pracujących w warsztacie, myjni oraz w transporcie cysternami spożywczymi.
                                        Wszystkie nasze prace wykonywane są przez wysoko wykwalifikowanych ludzi , posiadamy wieloletnie doświadczenia we wszystkich aspektach naszej działalności , co owocuję ciągłym rozwojem firmy.
                                    </p>

                                    <div class="row row-eq-height" style="margin-bottom:30px;">
                                        <div class="col-sm-4 ">

                                            <div class="box-number">
                                                <div class="box-number-number">
                                                    <h2 class="js-counter" data-counter-time="2000" data-counter-delay="10">1996</h2>
                                                </div>
                                                <div class="box-number-description">Na rynku od</div>
                                            </div>

                                        </div>
                                        <div class="col-sm-4 ">

                                            <div class="box-number">
                                                <div class="box-number-number">
                                                    <h2 class="js-counter" data-counter-time="2000" data-counter-delay="10">567</h2>
                                                </div>
                                                <div class="box-number-description">Operacji miesięcznie</div>
                                            </div>

                                        </div>
                                        <div class="col-sm-4 ">

                                            <div class="box-number">
                                                <div class="box-number-number">
                                                    <h2 class="js-counter" data-counter-time="2000" data-counter-delay="10">15</h2>
                                                </div>
                                                <div class="box-number-description">Pracowników</div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xl-11 offset-0 offset-sm-0 offset-md-0 offset-lg-0 offset-xl-1">

                                    <h2>Nasza historia</h2>

                                    <div class="row mb-5">
                                        <div class="col-sm-3"><h4>1996r</h4></div>
                                        <div class="col-sm-9 text-left">
                                            <div>Założenie firmy.</div>
                                        </div>
                                    </div>

                                    <div class="row mb-5">
                                        <div class="col-sm-3"><h4>1996r - 2010r</h4></div>
                                        <div class="col-sm-9 text-left">
                                            <div>Rozwój firmy w zakresie transportu, mechaniki.</div>
                                        </div>
                                    </div>

                                    <div class="row mb-5">
                                        <div class="col-sm-3"><h4>2010r</h4></div>
                                        <div class="col-sm-9 text-left">
                                            <div>
                                                <h5>Budowa nowej siedziby firmy.</h5>
                                                Budowa nowej siedziby firmy w miejscowości Odrzywołek, rozpoczęcie działalności w zakresie mycia cystern.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mb-5">
                                        <div class="col-sm-3"><h4>2012r</h4></div>
                                        <div class="col-sm-9 text-left">
                                            <div>
                                                <h5>Dołączenie do PSMC (Polskie Stowarzyszenie Myjni Cystern).</h5>
                                                Dołączenie do PSMC (Polskie Stowarzyszenie Myjni Cystern) w celu uzyskania europejskiej certyfikacji myjni oraz wyjście naprzeciw rosnącym oczekiwaniom klientów.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mb-5">
                                        <div class="col-sm-3"><h4>2015r</h4></div>
                                        <div class="col-sm-9 text-left">
                                            <div>Jako pierwsza w EUROPIE myjnia cystern uzyskujemy certyfikację EFTCO FOOD.</div>
                                        </div>
                                    </div>

                                    <div class="row mb-5">
                                        <div class="col-sm-3"><h4>2015r - ...</h4></div>
                                        <div class="col-sm-9 text-left">
                                            <div>Szybki rozwój transportu, ciągłe powiększanie nowoczesnego taboru.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xl-11 offset-0 offset-sm-0 offset-md-0 offset-lg-0 offset-xl-1 ">
                                    <img src="{{ url('start') }}public/img/banner-autosolid.png" alt="" width="80%">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="md-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3 class="">Jeśli interesują Cię nasze usługi
                        <a href="{{ url('services') }}" class="fx-text-pulse">
                            poznaj naszą ofertę <i class="fa fa-angle-double-right"></i>
                        </a></h3>
                </div>
            </div>
        </div>
    </section>

</div>