
<div class="md-content">

    <section class="md-section" style="background-color:#f7f7f7; padding-bottom:0;">
        <div class="container">
            <div class="content-block header-left">
                <div class="content-media"></div>
                <div class="content-body">
                    <h6 class="content-subTitle"><a href="{{ url('services') }}">Usługi</a></h6>
                    <h2 class="content-title">Myjnia cystern</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="content-description">Jesteśmy profesjonalną w pełni zautomatyzowaną myjnią, wykwalifikowaną w myciu cystern po produktach spożywczych. Należymy do Polskiego Stowarzyszenia Myjni Cystern (PSMC).</div>
                    <ul class="fa-ul">
                        <li>
                            <i class="fa fa-li fa-long-arrow-right"></i>
                            Wystawiamy europejski certyfikat mycia ECD oraz EFTCO FOOD.
                        </li>

                        <li>
                            <i class="fa fa-li fa-long-arrow-right"></i>
                            Posiadamy 9 programów mycia, również program dezynfekcji.
                        </li>

                        <li>
                            <i class="fa fa-li fa-long-arrow-right"></i>
                            Wykonujemy mycia sterylne.
                        </li>

                        <li>
                            <i class="fa fa-li fa-long-arrow-right"></i>
                            Parowanie w zakresie od 100 stopni do 180 stopnie celsjusza.
                        </li>

                        <li>
                            <i class="fa fa-li fa-long-arrow-right"></i>
                            Mycia w procedurze VDF.
                        </li>

                        <li>
                            <i class="fa fa-li fa-long-arrow-right"></i>
                            Wykonujemy badania: ATP, PH, mętność oraz przewodność.
                        </li>
                        <li>
                            <i class="fa fa-li fa-long-arrow-right"></i>
                            Kontrole wymazowe ATP po każdym myciu.
                        </li>
                        <li>
                            <i class="fa fa-li fa-long-arrow-right"></i>
                            Podgrzewanie cystern + suszenie parą.
                        </li>
                        <li>
                            <i class="fa fa-li fa-long-arrow-right"></i>
                            Wewnętrzna kontrola jakości oparta jest o ISO oraz HACCP.
                        </li>
                    </ul>
                    <div class="alert alert-warning">
                        <strong>Uwaga:</strong> Myjemy tylko po produktach spożywczych.
                    </div>
                    <div class="alert alert-primary">
                        Możliwość mycia o innej porze po wcześniejszym kontakcie telefonicznym.
                    </div>
                </div>
                <div class="col-lg-6">
                    <img src="{{ url('start') }}public/img/services/img01.png" alt="">
                    <h4 class="mt-5">Godziny otwarcia:</h4>
                    <div class="row">
                        <div class="col-lg-6">poniedziałek – piątek:</div><div class="col-lg-6"><strong>6.00 – 21.00</strong></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">sobota:</div><div class="col-lg-6"><strong>8.00 – 15.00</strong></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">niedziela oraz święta:</div><div class="col-lg-6"><strong>nie myjemy!</strong></div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-12">
                    <h3 class="">Certyfikaty</h3>
                </div>
            </div>
            <div class="content-block header-left">
                <div class="float-right d-none d-sm-block">
                    <img class="pull-left pl-5" src="{{ url('start') }}public/img/logos/logo-cert-psmc.png" alt="" width="150">
                    <img class="pull-left pl-5" src="{{ url('start') }}public/img/logos/logo-cert-eftco.png" alt="" width="200">
                    <img class="pull-left pl-5" src="{{ url('start') }}public/img/logos/logo-cert-eftco-food.png" alt="" width="200">
                    <!--
                    <img class="pull-left pl-20" src="{{ url('start') }}public/img/logos/logo-cert-haccp.png" alt="" width="150"/>
                    -->
                </div>
                <div class="content-body">
                    <ul class="fa-ul">
                        <li>
                            <i class="fa fa-li fa-certificate"></i>
                            EFTCO oraz EFTCO FOOD.
                        </li>
                        <li>
                            <i class="fa fa-li fa-certificate"></i>
                            SQAS.
                        </li>
                        <!--
                        <li>
                            <i class="fa fa-li fa-certificate"></i>
                            HACCP.
                        </li>
                        -->
                        <li>
                            <i class="fa fa-li fa-certificate"></i>
                            BBS.
                        </li>
                    </ul>
                </div>
            </div>
            <br /><br />

            <div class="row">
                <div class="col-md-12 text-center title-01">
                    <h3>Zainteresowany?
                        <a href="{{ url('contact') }}" class="fx-text-pulse">Skontaktuj się z nami</a>!
                    </h3>
                </div>
            </div>
        </div>
    </section>

</div>