
<div class="md-content">

    <section class="md-section" style="background-color:#f7f7f7; padding-bottom:0;">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8 offset-0 offset-sm-0 offset-md-2 offset-lg-2 ">
                    <div class="title-01">
                        <h2 class="title-01-title">Czym sie zajmujemy?</h2>
                        <h6 class="title-01-subTitle">Nasze główne branże</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="consult-project">

            <div class="row">
                <div class="col-xl-8 offset-2">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4 " style="padding-left: 5px; padding-right: 5px;">
                            <div class="image-content image-content-style-02 js-post-effect">
                                <div class="image-content-media"><a href="{{ url('serviceCarwash') }}"><img src="{{ url('start') }}public/img/services/s1.jpg" alt=""/></a></div>
                                <div class="image-content-body">
                                    <h2 class="image-content-title"><a href="{{ url('serviceCarwash') }}">Myjnia cystern</a></h2>
                                    <div class="image-content-department">Myjnia cystern spożywczych.</div>
                                    <div class="image-content-content">
                                        <div class="image-content-description">Jesteśmy profesjonalną w pełni zautomatyzowaną myjnią, wykwalifikowaną w myciu cystern po produktach spożywczych. Należymy do PSMC(Polskie Stowarzyszenie Myjni Cystern).</div>
                                        <a class="image-content-link" href="{{ url('serviceCarwash') }}">Więcej <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4 " style="padding-left: 5px; padding-right: 5px;">
                            <div class="image-content image-content-style-02 js-post-effect">
                                <div class="image-content-media"><a href="{{ url('serviceRepair') }}"><img src="{{ url('start') }}public/img/services/s3.jpg" alt=""/></a></div>
                                <div class="image-content-body">
                                    <h2 class="image-content-title"><a href="{{ url('serviceRepair') }}">Mechanika pojazdowa i wulkanizacja</a></h2>
                                    <div class="image-content-department">Naprawa i wulkanizacja pojazdów.</div>
                                    <div class="image-content-content">
                                        <div class="image-content-description">Jesteśmy serwisem samochodowym z wieloletnim doświadczeniem. Możemy poszczycić się bardzo bogatym zapleczem warsztatowym, co wyróżnia nas spośród firm konkurencyjnych. Podczas serwisowania pojazdów osobowych, dostawczych, ciężarowych oraz naczep wykorzystujemy narzędzia najwyższej jakości oraz nowoczesne technologie aby realizowane przez nas prace zajmowały możliwie najkrótszy czas. Kładziemy duży nacisk na profesjonalizm i rzetelność wykonywanych usług co potwierdzamy gwarancją dzięki której zdobywamy zaufanie naszych obecnych i przyszłych klientów. Przed rozpoczęciem naprawy wszystkie koszty ustalane są indywidualnie z klientem.</div>
                                        <a class="image-content-link" href="{{ url('serviceRepair') }}">Więcej <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4 " style="padding-left: 5px; padding-right: 5px;">
                            <div class="image-content image-content-style-02 js-post-effect">
                                <div class="image-content-media"><a href="{{ url('serviceTransport') }}"><img src="{{ url('start') }}public/img/services/s2.jpg" alt=""/></a></div>
                                <div class="image-content-body">
                                    <h2 class="image-content-title"><a href="{{ url('serviceTransport') }}">Transport krajowy i międzynarodowy</a></h2>
                                    <div class="image-content-department">Krajowy i międzynarodowy transport samochodowy.</div>
                                    <div class="image-content-content">
                                        <div class="image-content-description">Nasza firma zajmuje się transportem cysternami spożywczymi od 1996r. Aktualnie przewozimy takie produkty jak: koncentraty, aromaty, soki oraz pulpy owocowe, mamy możliwość przewożenia również innych produktów spożywczych.</div>
                                        <a class="image-content-link" href="{{ url('serviceTransport') }}">Więcej <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="md-section" style="padding-bottom:0;">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8 offset-0 offset-sm-0 offset-md-2 offset-lg-2 ">
                    <div class="title-01">
                        <h2 class="title-01-title">Nasze usługi</h2>
                        <h6 class="title-01-subTitle">Usługi które wykonujemy</h6>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-4">
                            <div class="iconbox iconbox-style-03">
                                <div class="iconbox-icon"><i class="fa fa-wrench"></i></div>
                                <div>
                                    <h2 class="iconbox-title"><a href="{{ url('serviceRepair') }}">Naprawa</a></h2>
                                    <div class="iconbox-description">Naprawa samochodów osobowych, dostawczych, ciężarowych, naczep oraz maszyn budowlanych i rolniczych.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="iconbox iconbox-style-03">
                                <div class="iconbox-icon"><i class="fa fa-stethoscope"></i></div>
                                <div>
                                    <h2 class="iconbox-title"><a href="{{ url('serviceRepair') }}">Diagnostyka</a></h2>
                                    <div class="iconbox-description">Diagnostyka komputerowa samochodów wszystkich typów oraz naczep.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="iconbox iconbox-style-03">
                                <div class="iconbox-icon"><i class="fa fa-car"></i></div>
                                <div>
                                    <h2 class="iconbox-title"><a href="{{ url('serviceRepair') }}">Wulkanizacja</a></h2>
                                    <div class="iconbox-description">Naprawiamy opony osobowe, dostawcze, ciężarowe, rolnicze oraz do maszyn budowlanych oraz wózków widłowych.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="iconbox iconbox-style-03">
                                <div class="iconbox-icon"><i class="fa fa-cloud"></i></div>
                                <div>
                                    <h2 class="iconbox-title"><a href="{{ url('serviceCarwash') }}">Myjnia cystern spożywczych</a></h2>
                                    <div class="iconbox-description">Jesteśmy profesjonalną w pełni zautomatyzowaną myjnią, wykwalifikowaną w myciu cystern po produktach spożywczych.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="iconbox iconbox-style-03">
                                <div class="iconbox-icon"><i class="fa fa-truck"></i></div>
                                <div>
                                    <h2 class="iconbox-title"><a href="{{ url('serviceTransport') }}">Transport</a></h2>
                                    <div class="iconbox-description">Transport krajowy i międzynarodowy cysternami spożywczymi.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="iconbox iconbox-style-03">
                                <div class="iconbox-icon"><i class="fa fa-bolt"></i></div>
                                <div>
                                    <h2 class="iconbox-title"><a href="{{ url('serviceRepair') }}">Usługi spawalnicze</a></h2>
                                    <div class="iconbox-description">Spawamy wszystkie typy metali. Aluminium, stal zwykła, stal kwasowa w osłonie argonu.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 text-center title-01">
                        <h3 class="">Zainteresowany?
                            <a href="{{ url('contact') }}" class="fx-text-pulse">Skontaktuj się z nami</a>!
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>