
<div class="md-content">

    <div class="slider">

        <div class="carousel-element owl-carousel"
             data-options='{"items":1,"loop":true,"dots":false,"nav":false,"margin":0}'>
            <div class="slider-item" style="background-image: url('{{ url('start') }}public/img/slider/slide01.jpg');">
                <div class="md-tb">
                    <div class="md-tb-cell">
                        <div class="slider-content">
                            <div class="container text-left">
                                <h2>Profesjonalizm</h2>
                                <h2>Szybka obsługa</h2>
                                <h2>Solidność</h2>
                                <h4>Zapraszamy!</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-item" style="background-image: url('{{ url('start') }}public/img/slider/slide02.jpg');">
                <div class="md-tb">
                    <div class="md-tb-cell">
                        <div class="slider-content">
                            <div class="container text-left">
                                <h2>Naprawa</h2>
                                <h2>Wulkanizacja</h2>
                                <h2>Diagnostyka komputerowa</h2>
                                <h4>Sprawdź naszą jakość!</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-item" style="background-image: url('{{ url('start') }}public/img/slider/slide03.jpg');">
                <div class="md-tb">
                    <div class="md-tb-cell">
                        <div class="slider-content">
                            <div class="container text-left">
                                <h2>Transport Krajowy</h2>
                                <h2>i Międzynarodowy</h2>
                                <h2>Cysternami Spożywczymi</h2>
                                <h4>Zawsze na czas!</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <section class="md-section" style="background-image:url({{ url('start') }}public/img/backgrounds/parallax02.jpg);padding:0;">
        <div class="container">
            <div class="textbox-group">
                <div class="row">
                    <div class="col-md-4 col-lg-4 ">
                        <div class="textbox">
                            <div class="textbox-image"><a href="{{ url('serviceCarwash') }}"><img src="{{ url('start') }}public/img/services/img01.png"
                                                                                            alt=""/></a></div>
                            <div class="textbox-body text-left">
                                <h2 class="textbox-title"><a href="{{ url('serviceCarwash') }}">MYJNIA CYSTERN</a></h2>
                                <div class="textbox-description">Mycie cystern spożywczych w certyfikowanej myjni.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 ">
                        <div class="textbox">
                            <div class="textbox-image"><a href="{{ url('serviceRepair') }}"><img src="{{ url('start') }}public/img/services/img02.png"
                                                                                           alt=""/></a></div>
                            <div class="textbox-body text-left">
                                <h2 class="textbox-title"><a href="{{ url('serviceRepair') }}">WARSZTAT</a></h2>
                                <div class="textbox-description">Naprawa pojazdów ciężarowych, dostawczych i osobowych.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 ">
                        <div class="textbox">
                            <div class="textbox-image"><a href="{{ url('serviceTransport') }}"><img src="{{ url('start') }}public/img/services/img03.png"
                                                                                              alt=""/></a></div>
                            <div class="textbox-body text-left">
                                <h2 class="textbox-title"><a href="{{ url('serviceTransport') }}">TRANSPORT</a></h2>
                                <div class="textbox-description">Transport krajowy i międzynarodowy cysternami spożywczymi.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h3 class="text-light">Jeśli interesują Cię nasze usługi
                            <a href="{{ url('services') }}" class="fx-text-pulse">poznaj naszą ofertę <i class="fa fa-angle-double-right"></i> </a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
